@import '~app/components/ui/colors.scss';

.languageLink {
  position: relative;

  color: #666;
  border-bottom: 1px dotted #666;
  text-decoration: none;
  transition: 0.25s;
  cursor: pointer;

  &.mark {
    &:after {
      position: absolute;
      content: '*';
      color: $red;
      font-size: 75%;
      top: -0.2em;
    }
  }
}

.languageIcon {
  $height: 13px;

  position: relative;
  top: 1px;
  display: inline-block;
  margin-right: 4px;
  height: $height;
  width: $height * 4 / 3;
  box-shadow: 0 0 1px rgba(#000, 0.2);

  background-size: cover;
}
