.rules {
    max-width: 620px;
    margin: 55px auto 0;
}

.rulesSection {
    margin-bottom: 30px;
}

.rulesSectionTitle {
    line-height: 50px;
    height: 50px;

    font-size: 20px;
    color: #fff;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.3);
    padding: 0;
    margin: 0;
    text-align: center;

    background: #5b9aa9;
}

.rulesBody {
    padding: 25px 15px;
    background: #fff;
}

.rulesList {
    padding: 0;
    margin: 0;
    padding-left: 40px;
}

.rulesItem {
    list-style: decimal;
    line-height: 1.35;
    margin: 10px 0;

    a {
        color: #444;
        border-bottom: 1px dotted #aaa;
        text-decoration: none;
        transition: .25s
    }

    a:hover {
        border-bottom-color: #444
    }
}
