@import '~components/ui/fonts.scss';

.avatar {
    width: 90px;
    height: 90px;
    font-size: 90px;
    line-height: 1;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

.email {
    font-family: $font-family-title;
    font-size: 18px;
    color: #fff;

    margin-bottom: 15px;
    margin-top: 10px;
}
