{
    "presets": ["react", "flow", "es2015", "es2017", "stage-0"],
    "plugins": [
        ["transform-runtime", {"polyfill": false}],
        "transform-function-bind",
        ["react-intl", {"messagesDir": "./dist/messages/"}]
    ],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        },
        "test": {
            // airbnb some how disables stage-0, so forcing it after airbnb
            "presets": ["airbnb", "stage-0"]
        }
    }
}
