{
    "presets": ["react", "es2015", "stage-0"],
    "plugins": ["transform-runtime", ["react-intl", {"messagesDir": "./dist/messages/"}]],
    "env": {
        "development": {
            "presets": ["react-hmre"]
        },
        "test": {
            // airbnb some how disables stage-0, so forcing it after airbnb
            "presets": ["airbnb", "stage-0"]
        }
    }
}
