@import '~app/components/ui/panel.scss';
@import '~app/components/ui/fonts.scss';

.accountSwitcherContainer {
    margin-left: -$bodyLeftRightPadding;
    margin-right: -$bodyLeftRightPadding;
}

.description {
    font-family: $font-family-title;
    margin: 5px 0 19px;
    line-height: 1.4;
    font-size: 16px;
}

.appName {
    color: #fff;
}
