@import '~app/components/ui/fonts.scss';
@import '~app/components/ui/colors.scss';

.page {
  border-top: 50px solid #ddd8ce;

  padding: 85px 10px;
}

.wrapper {
  position: relative;

  margin: 0 auto;
  padding: 55px 25px;
  max-width: 330px;
  box-sizing: border-box;

  background: #fff;
  border: 3px solid #ddd8ce;

  text-align: center;
}

.logo {
  $borderWidth: 3px;

  position: absolute;
  top: -28px;
  left: 50%;
  transform: translate(-50%, 0);

  padding: 0 20px;

  font-family: $font-family-title;
  font-size: 33px;
  line-height: 50px - $borderWidth * 2;
  color: #fff;
  background: $green;
  border: 3px solid darker($green);

  &:hover {
    color: #fff;
    background: $green;
    border: 3px solid darker($green);
  }
}

.title {
  font-family: $font-family-title;
  font-size: 20px;
  margin-bottom: 20px;
}

.checkmark {
  composes: checkmark from '~app/components/ui/icons.scss';

  color: lighter($green);
  font-size: 66px;
  margin-bottom: 28px;
}

.description {
  font-size: 13px;
  color: #9a9a9a;
  line-height: 1.4;

  b {
    color: #666;
  }
}
