@import "~components/ui/colors.scss";

$sidebar-width: 320px;

.sidebar {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: $sidebar-width;

    background: $black;
}

.content {
    margin-left: $sidebar-width;
    padding: 55px 50px;
    text-align: center;
}
