@import "~components/ui/colors.scss";

.sidebar {
    position: absolute;
    top: 50px;
    bottom: 0;
    left: 0;
    width: 300px;

    background: $black;
}

.content {
    margin-left: 300px;
    padding: 55px 50px;
}
