@import '~components/ui/popup/popup.scss';

.requestPasswordForm {
  composes: popupWrapper from '~components/ui/popup/popup.scss';

  @include popupBounding(280px);
}

.body {
  text-align: center;
}

.lockIcon {
  composes: lock from '~components/ui/icons.scss';

  font-size: 90px;
  color: #aaa;
  margin-bottom: 15px;
}

.description {
  font-size: 12px;
  margin-bottom: 15px;
}
