.body {
    text-align: center;
}

.lockIcon {
    composes: lock from 'components/ui/icons.scss';

    font-size: 90px;
    color: #AAA;
    margin-bottom: 15px;
}

.description {
    font-size: 12px;
    margin-bottom: 15px;
}
