.container {
    padding: 55px 10px 80px; // 80px for footer
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    inset-inline-start: 0;

    text-align: center;
}

@media (max-width: 720px) {
    .container {
        padding-top: 20px;
    }
}
