.container {
    min-height: 100%;
    position: relative;
    box-sizing: border-box;

    padding: 55px 10px 65px; // 65px for footer
}

.footer {
    width: 100%;
    position: absolute;
    bottom: 10px;
    left: 0;

    text-align: center;
}

@media (max-width: 720px) {
    .container {
        padding-top: 20px;
    }
}
