.container {
    margin-top: 55px;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 10px;
    width: 100%;
    left: 0;
}

@media (max-width: 720px) {
    .container {
        margin: 20px 10px 10px;
    }
}
