@import '~components/ui/colors.scss';

.descriptionText {
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 8px;
    color: #aaa;
}

.login {
    composes: email from '~components/auth/password/password.scss';
}

.editLogin {
    composes: pencil from '~components/ui/icons.scss';

    position: relative;
    bottom: 1px;
    padding-left: 3px;

    color: #666666;
    font-size: 10px;

    transition: color .3s;

    cursor: pointer;

    &:hover {
        color: #ccc;
    }
}
