@import '~components/ui/colors.scss';

.descriptionText {
    font-size: 15px;
    line-height: 1.4;
    padding-bottom: 8px;
    color: #aaa;
}

// TODO: вынести иконки такого типа в какую-то внешнюю структуру?
.bigIcon {
    color: #ccc;
    font-size: 100px;
    line-height: 1;
    margin-bottom: 15px;
}

.login {
    composes: email from 'components/auth/password/password.scss';
}
