.form {
    max-width: 340px;
    margin: 0 auto;
    padding: 55px 13px 0;
}

.description {
    font-size: 15px;
    color: #aaa;
    text-align: center;
    margin-bottom: 15px;
}

.icon {
    composes: hash from '~app/components/ui/icons.scss';

    display: block;
    text-align: center;
    font-size: 69px;
    color: #ccc;
    margin-block: 5px 15px;
}
