@import '~components/ui/colors.scss';
@import '~components/ui/fonts.scss';
@import '~components/ui/popup/popup.scss';

/* Form state */

.contactForm {
  composes: popupWrapper from '~components/ui/popup/popup.scss';

  @include popupBounding(500px);
}

.philosophicalThought {
  font-family: $font-family-title;
  font-size: 19px;
  color: $green;
  text-align: center;
  margin-bottom: 5px;
}

.formDisclaimer {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto 10px;
}

.pairInputRow {
  display: flex;
  margin-bottom: 10px;
}

.pairInput {
  width: 50%;

  &:first-of-type {
    margin-right: $popupPadding;
  }
}

.formMargin {
  margin-bottom: 20px;
}

/* Success State */

.successState {
  composes: popupWrapper from '~components/ui/popup/popup.scss';

  @include popupBounding(320px);
}

.successBody {
  composes: body from '~components/ui/popup/popup.scss';

  text-align: center;
}

.successDescription {
  @extend .formDisclaimer;

  margin-bottom: 15px;
}

.successIcon {
  composes: checkmark from '~components/ui/icons.scss';

  font-size: 90px;
  color: #aaa;
  margin-bottom: 20px;
  line-height: 71px;
}

.sentToEmail {
  font-family: $font-family-title;
  color: #444;
  font-size: 18px;
}

/* Common */

.footer {
  margin-top: 0;
}
