.footerMenu {
    padding: 0 25px;
    text-align: center;
    font-size: 12px;
    // Set line-height the same as the font-size value to keep the border-bottom
    // close to the text when the inline-block is turned on .footerItem
    line-height: 12px;
}

.row {
    margin-bottom: 2px;
}

.footerItem {
    display: inline-block;
    margin: 2px 2px;
    color: #666;
    border-bottom-color: #666;
}

.langTriggerIcon {
    composes: globe from '~app/components/ui/icons.scss';

    position: relative;
    bottom: 1px;
    font-size: 11px;
    margin-inline-end: 3px;
}
