@import "~components/ui/colors.scss";
@import "~components/ui/fonts.scss";

.container {
    position: relative;
}

.menuContainer {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;

    display: inline-flex;
    justify-content: center;
    margin: 0 auto 10px;

    perspective: 600px;
    pointer-events: none;
}

.menu {
    pointer-events: auto;
    background: #fff;
    border: 5px solid #ddd8ce;
    border-left: 0;
    border-right: 0;
    text-align: left;

    visibility: hidden;
    opacity: 0;
    transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1); // easeOutCirc
    transform: translateY(10px) rotateX(-22deg);
}

.menuActive {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) rotateX(0deg);
}

.withCurrentLang {
    .triggerContainer {
        text-align: left;
    }

    .menuContainer {
        margin-left: 0;
    }
}

.menuItem {
    padding: 10px;
    font-size: 13px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: .2s;

    &:hover {
        background: $whiteButtonLight;
        color: #262626;
    }

    &:last-child {
        border-bottom: none;
    }
}

.activeMenuItem {
    background: lighter($green)!important;
    color: #fff!important;
    font-weight: $font-weight-bold;
}

.langIco {
    display: inline-block;
    margin-right: 5px;
    width: 20px;
    height: 10px;
    box-shadow: 0 0 1px rgba(#000, .2);

    background: no-repeat;
    background-size: cover;
}

.langBe {
    composes: langIco;

    background-image: url('~icons/flag_be.svg');
}

.langEn {
    composes: langIco;

    background-image: url('~icons/flag_en.svg');
}

.langId {
    composes: langIco;

    background-image: url('~icons/flag_id.svg');
}

.langPl {
    composes: langIco;

    background-image: url('~icons/flag_pl.svg');
}

.langRo {
    composes: langIco;

    background-image: url('~icons/flag_ro.svg');
}

.langRu {
    composes: langIco;

    background-image: url('~icons/flag_ru.svg');
}

.langSl {
    composes: langIco;

    background-image: url('~icons/flag_sl.svg');
}

.langPt {
    composes: langIco;

    background-image: url('~icons/flag_pt.svg');
}

.langUk {
    composes: langIco;

    background-image: url('~icons/flag_uk.svg');
}

.langVi {
    composes: langIco;

    background-image: url('~icons/flag_vi.svg');
}

.improveTranslatesLink {
    font-size: 11px;
    text-align: center;
    padding: 5px 10px;

    a {
        color: #9a9a9a;
        border-bottom-color: #9a9a9a;
    }
}

.trigger {
    color: #666;
    border-bottom: 1px dotted #666;
    text-decoration: none;
    transition: .25s;

    &:hover {
        border-bottom-color: #777;
        color: #777;
    }
}

.triggerContainer {
    text-align: center;
}

.trigger {
    font-size: 12px;
}

.triggerIcon {
    composes: globe from 'components/ui/icons.scss';

    position: relative;
    bottom: 1px;
    font-size: 11px;
}

.triggerArrow {
    font-size: 8px;
    transition: 0.2s;
}

.triggerArrowTop {
    composes: triggerArrow;
    composes: arrowTop from 'components/ui/icons.scss';
}

.triggerArrowBottom {
    composes: triggerArrow;
    composes: arrowBottom from 'components/ui/icons.scss';

    // Докручиваем лишний раз, чтобы иконка крутилась по часовой стрелке
    transform: rotate(360deg);
}
