@import "~components/ui/fonts.scss";

$boxHeight: 140px;

.instructionContainer {
    position: relative;
    min-height: $boxHeight;

    background: #fff;
    border: 1px #fff solid;

    transition: 0.4s ease;
}

.instructionActive {
    background: #ebe8e1;
    border-color: #d8d5ce;
}

.osList {
    position: absolute;
    left: 0;
    right: 0;
    margin: 15px;
    height: $boxHeight;
}

.osTile {
    position: absolute;
    text-align: center;
    cursor: pointer;
    max-width: 28%;

    transform: scale(1);
    opacity: 1;
    transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    font-family: $font-family-title;

    // .instructionActive & {
    //     cursor: default;
    // }
}

.osLogo {
    display: block;
    margin: 0 auto;
    height: 80px;
    color: #444;

    @media screen and (max-width: 380px) { // for old iPhones
        height: 60px;
    }
}

.osName {
    font-size: 16px;
    margin: 10px 0;
}

.androidTile {
    $translateX: 0;

    transform: translateX($translateX) scale(1);

    &:hover {
        transform: translateX($translateX) scale(1.1);
    }

    .androidActive & {
        transform: translateX(0);
        left: 0;
    }

    .appleActive &,
    .windowsActive & {
        transform: translateX($translateX) scale(0);
        opacity: 0;
    }
}

.appleTile {
    $translateX: 124px;
    $translateX: -50%;

    transform: translateX($translateX) scale(1);
    left: 50%;

    &:hover {
        transform: translateX($translateX) scale(1.1);
    }

    .appleActive & {
        transform: translateX(0);
        left: 0;
    }

    .androidActive &,
    .windowsActive & {
        transform: translateX($translateX) scale(0);
        opacity: 0;
    }
}

.windowsTile {
    $translateX: 230px;
    $translateX: -100%;

    transform: translateX($translateX) scale(1);
    left: 100%;

    &:hover {
        transform: translateX($translateX) scale(1.1);
    }

    .windowsActive & {
        transform: translateX(0);
        left: 0;
    }

    .appleActive &,
    .androidActive & {
        transform: translateX($translateX) scale(0);
        opacity: 0;
    }
}

.osInstructionContainer {
    opacity: 0;
    transition: 0.4s;

    .instructionActive & {
        opacity: 1;
    }
}

.osInstruction {
    position: relative;
    z-index: 1;
    margin-left: 30%;
    padding: 15px;
}

.instructionTitle {
    font-family: $font-family-title;
    font-size: 14px;
}

.appList {
    margin: 10px 0;
    font-size: 11px;

    li {
        margin: 7px 0;
    }

    a {
        color: #666;
        border-bottom-color: #666;
        border-bottom-style: dashed;
    }
}

// TODO: прижать это к нижней части
.otherApps {
    text-align: right;
    font-size: 10px;

    a {
        color: #9E9E9E;
        border-bottom-color: #9E9E9E;
    }
}
