@import '~components/ui/colors.scss';
@import '~components/ui/fonts.scss';

.appInfo {
    max-width: 270px;
    margin: 0 auto;
    padding: 55px 25px;
}

.logoContainer {
    position: relative;
    padding: 15px 0;

    &:after {
        content: '';
        display: block;

        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 40px;

        background: $green;
    }
}

.logo {
    font-family: $font-family-title;
    color: #fff;
    font-size: 36px;
}

.descriptionContainer {
    margin: 20px 0;
}

.description {
    font-family: $font-family-base;
    color: #cccccc;
    font-size: 13px;
    line-height: 1.7;
}

.goToAuth {
}

@media (min-width: 720px) {
    .goToAuth {
        display: none;
    }
}

.langMenu {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 1.5;
}
