@import '~components/ui/colors.scss';
@import '~components/ui/fonts.scss';

html,
body,
.app {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: $font-family-base;
    background: $light;
}

b {
    font-weight: $font-wight-bold;
}

a {
    text-decoration: none;
}

ul,
li,

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    line-height: 1;
    padding: 0;
    margin: 0;
    list-style: none;
}
