.currentAccountEmail {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
}

.stepForms {
    white-space: nowrap;
}

.stepForm {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    max-width: 100%;
}
