@import '~components/ui/colors.scss';

.stepper {
    composes: stepper from 'components/profile/profileForm.scss';

    .activeStep {
        &:after {
            background: $violet;
        }
    }
}

.currentAccountEmail {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.2;
}

.stepForms {
    white-space: nowrap;
}

.stepForm {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    max-width: 100%;
}
