@import '~components/ui/colors.scss';

.signIn {
    margin-bottom: 10px;
    text-align: center;
}

.decline {
    border-top: 1px solid lighter($black);
    width: 42%;
    flex-grow: 0;
}

.helpLinks {
    margin: 8px 0;

    color: #444;
    text-align: center;
    font-size: 16px;

    a {
        color: #444;
        border-bottom: 1px dotted #444;
        text-decoration: none;
        transition: .25s;

        &:hover {
            border-bottom-color: #777;
            color: #777;
        }
    }
}

// sign in second step
@import '~components/ui/fonts.scss';
.avatar {
    width: 90px;
    height: 90px;
    font-size: 90px;
    line-height: 1;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

.email {
    font-family: $font-family-title;
    font-size: 18px;
    color: #fff;

    margin-bottom: 15px;
    margin-top: 10px;
}

// account activation
.description {
}

.descriptionImage {
    composes: envelope from 'components/ui/icons.scss';

    font-size: 100px;
    color: $blue;
}

.descriptionText {
    margin-bottom: 25px;
    font-size: 16px;
    line-height: 1.2;
}

// app permissions
.authInfo {
    padding: 0 5px;
    overflow: hidden;
    text-align: left;
}

.authInfoAvatar {
    float: left;
    height: 40px;
    width: 40px;
    font-size: 40px;
    line-height: 1;
    margin-right: 10px;
    color: #aaa;

    img {
        width: 100%;
    }
}

.authInfoTitle {
    font-size: 14px;
    color: #666;
}

.authInfoEmail {
    font-family: $font-family-title;
    font-size: 20px;
    color: #fff;
}

.disclaimer {
    font-family: $font-family-title;
    font-size: 18px;
    color: #dd8650;
}

.permissionsList {
    text-align: left;
    list-style: none;
    margin: 10px 0;

    li {
        color: #a9a9a9;

        &:before {
            content: "• ";
            color: lighter($light_violet);
            font-size: 30px;
            line-height: 20px;
            display: inline-block;
            height: 20px;
            vertical-align: middle;
            margin-right: 5px;
        }
    }
}
