.horizontalGroup {
    display: flex;
}

.item {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    $borderConfig: 1px solid rgba(#fff, 0.15);

    border-left: $borderConfig;

    &:last-child {
        border-right: $borderConfig;
    }
}
