@import './colors.scss';
@import './fonts.scss';

@mixin button-color($colorName, $backgroundColor, $textColor : $defaultButtonTextColor) {
    .#{$colorName} {
        composes: button;

        @if ($textColor != $defaultButtonTextColor) {
            color: $textColor;
        }

        background-color: $backgroundColor;

        &:hover {
            background-color: lighter($backgroundColor);
        }

        &:active {
            background-color: darker($backgroundColor);
        }
    }
}

.button,
.black {
    display: inline-block;
    box-sizing: border-box;
    height: 50px;
    padding: 0 15px;
    border: none;

    font-family: $font-family-title;
    color: $defaultButtonTextColor;
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;

    transition: background-color 0.25s;

    background-color: $black;

    &:hover {
        background-color: $black-button-light;
    }

    &:active {
        background-color: $black-button-dark;
    }

    &:focus {
        outline: none;
    }
}

@include button-color('blue', $blue);
@include button-color('green', $green);
