@import '~icons.font.json';

// По умолчанию стрелка смотрит вниз, это просто алиас
.arrowBottom {
    @extend .arrow;
}

.arrowTop {
    @extend .arrow;

    transform: rotate(180deg);
}

.arrowRight {
    @extend .arrow;

    transform: rotate(270deg);
}

.arrowLeft {
    @extend .arrow;

    transform: rotate(90deg);
}
