@import '~components/ui/colors.scss';
@import '~components/ui/fonts.scss';

.panel {
    background: $black;
}

$headerHeight: 60px;

.header {
    box-sizing: border-box;
    height: $headerHeight;
    border-bottom: 1px solid lighter($black);

    font-family: $font-family-title;
    text-align: center;
    line-height: $headerHeight + 2px; // Шрифт Roboto Condensed имеет странную высоту линии, так что компенсируем это
    font-size: 20px;
    color: #fff;
}

.headerControl {
    composes: black from './buttons.scss';

    float: left;
    overflow: hidden;
    height: $headerHeight - 1px;
    width: 49px;
    padding: 0;
    border-right: 1px solid lighter($black);

    line-height: 1;
    text-align: center;
}

$bodyLeftRightPadding: 20px;
$bodyTopBottomPadding: 15px;

.body {
    padding: $bodyTopBottomPadding $bodyLeftRightPadding;
    color: #ccc;
    font-size: 18px;

    b {
        font-weight: normal;
        color: #fff;
    }

    a {
        color: #fff;
        border-bottom: 1px dotted #ede9e2;
        text-decoration: none;
        transition: .25s;

        &:hover {
            border-bottom-color: #ccc;
            color: #ccc;
        }
    }
}

.footer {
    display: flex;

    > * {
        flex-grow: 1;
    }
}

.bodyHeader {
    position: relative;
    padding: 10px;
    margin: (-$bodyTopBottomPadding) (-$bodyLeftRightPadding);
    margin-bottom: 15px;
}

.errorBodyHeader {
    composes: bodyHeader;

    background: $red;
    border: 1px darker($red) solid;

    font-size: 14px;
    line-height: 1.3;
    color: #fff;
}

.defaultBodyHeader {
    composes: bodyHeader;

    background: darker($black);
    border: lighter($black) solid;
    border-bottom-width: 5px;
    border-top-width: 4px;

    font-size: 14px;
    line-height: 1.3;
    color: #fff;
}

.close {
    composes: close from './icons.scss';

    position: absolute;
    right: 5px;
    top: 5px;

    font-size: 10px;

    cursor: pointer;
}
